<H2>Nada Consta</H2>
<div class="container-title"> Detalhes </div>
<br/>

<div class="cabecalho">
    <p class="dados">MATRICULA: </p>
    <p class="dados">NOME: </p>
    <p class="dados">ADMISSÃO: </p>
    <p class="dados">DEMISSÃO: </p>
    <p class="dados">MOTIVO DEMISSÃO: </p>
</div>

<br/>
<div class="container">
    
    <div class="departamento">
        <h6 class="titulo">Nome departamento</h6>
            <div class="informacoes">
                <p class="aaas">Informações para Rescisão:</p>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                
            </div>
            
            <div class="assinatura">
                <p>Assinatura</p>
                <br/>
            </div>
    </div>

    
</div>
