<H2>Nada Consta</H2>
<div class="container-title"> Cadastrar </div>

<div class= "container">
      
    <div >
        <div class="label">
            <h6 id="teste">Empregado: </h6>
            <input type="text">
        </div>
        <div class="label">
            <h6>Matricula: </h6>
            <input type="text">
        </div>
        
    </div>
    <div class="label">
        <h6>Função: </h6>
        <input type="text">
    </div>

    <div class="label">
        <h6>Local de Trabalho: </h6>
        <input type="text">
    </div>
    <div class="label-data">
        <div >
            <h6>Data Admissão: </h6>
            <input class="data-input" type="date">
        </div>
        <div class="label-data-info">
            <h6>Data Demissão: </h6>
            <input class="data-input" type="date">
        </div>
    </div>
    <div class="label">
        <h6>Motivo Demissão</h6>
        <select name="MotivoDem" id="motDem">
            <option value="Sem Justa Causa"></option>
        </select>
    </div>
    <tr></tr>


    <div class="row-buttons">
        <Button type="button" class="btn btn-success"><i class="small material-icons">save</i></Button>
        <Button routerLink="/nadaconsta" style="margin-left: 5px;" type="button" class="btn btn-danger"><i class="small material-icons">arrow_back</i></Button>
     </div>

</div>
