
<nav class="navbar">
    <h1>ESL AdminTool</h1>
</nav>
<div class="sidebar">
    <div class="sidebar-content">
      <p>HOME</p>
    </div>
    <div class="sidebar-content-option">
      <i class="large material-icons">home</i> <a routerLink="home">Inicio</a>  
    </div>

    <div class="sidebar-content">
      <p>TI</p>
    </div>
    <div class="sidebar-content-option">
      <i class="large material-icons">receipt_long</i> <a routerLink="home">Scripts</a>  
    </div>
    <div class="sidebar-content-option">
      <i class="large material-icons">print</i> <a routerLink="home">Impressoras</a>  
    </div>

    <div class="sidebar-content">
      <p>Financeiro</p>
    </div>
    <div class="sidebar-content-option">
      <i class="large material-icons">savings</i> <a routerLink="home">Caixas</a>  
    </div>

    <div class="sidebar-content">
      <p>CADASTROS</p>
    </div>
    <div class="sidebar-content-option">
      <i class="large material-icons">people_alt</i> <a routerLink="clientes">Clientes</a>
    </div>
    <div class="sidebar-content-option">
      <i class="large material-icons">engineering</i> <a routerLink="clientes">Funcionarios</a>
    </div>
    <div class="sidebar-content-option">
      <i class="large material-icons">apartment</i> <a routerLink="clientes">Empresa</a>
    </div>

</div>
<main>
  <router-outlet></router-outlet>
</main>



