
<nav class="navbar">
    <h1>ESL</h1>
</nav>
<div class="sidebar">
    <div class="item-menu">
      <div class="sidebar-content">
        <p>HOME</p>
      </div>
      <div class="sidebar-content-option">
        <i class="large material-icons">home</i> <a routerLink="home">Inicio</a>  
      </div>
    </div>

    <div class="item-menu">
      <div class="sidebar-content">
        <p>TI</p>
      </div>
      <div class="sidebar-content-option">
        <i class="large material-icons">code</i> <a routerLink="scripts">Scripts</a>  
      </div>
      <div class="sidebar-content-option">
        <i class="large material-icons">print</i> <a routerLink="home">Impressoras</a>  
      </div>
      <div class="sidebar-content-option">
        <i class="large material-icons">local_offer</i> <a routerLink="home">Patrimonios</a>  
      </div>
    </div>

    <div class="item-menu">
      <div class="sidebar-content">
        <p>FINANCEIRO</p>
      </div>
      <div class="sidebar-content-option">
        <i class="large material-icons">savings</i> <a routerLink="home">Caixas</a>  
      </div>
    </div> 

    <div class="item-menu">
      <div class="sidebar-content">
        <p>COMERCIAL</p>
      </div>
      <div class="sidebar-content-option">
        <i class="large material-icons">person</i> <a routerLink="home">Fidelidade</a>  
      </div>
    </div>

    <div class="item-menu">
      <div class="sidebar-content">
        <p>CADASTROS</p>
      </div>
      <div class="sidebar-content-option">
        <i class="large material-icons">people_alt</i> <a routerLink="clientes">Clientes</a>
      </div>
      <div class="sidebar-content-option">
        <i class="large material-icons">engineering</i> <a routerLink="clientes">Funcionarios</a>
      </div>
      <div class="sidebar-content-option">
        <i class="large material-icons">apartment</i> <a routerLink="clientes">Empresa</a>
      </div>
    </div>

</div>
<main>
  <router-outlet></router-outlet>
</main>



