
<nav class="navbar">
    <h1>ESL</h1>
</nav>
<div class="sidebar">
    <div class="item-menu">
      <div class="sidebar-content">
        <p>HOME</p>
      </div>
      <div class="sidebar-content-option">
        <a class="link-small" routerLink=""><i class="large material-icons">home</i> </a><a class="link-full" routerLink="">Inicio</a>  
      </div>
    </div>

    <div class="item-menu">
      <div class="sidebar-content">
        <p>TI</p>
      </div>
      <div class="sidebar-content-option">
        <a class="link-small" routerLink=""><i class="large material-icons">bug_report</i> </a><a class="link-full" routerLink="">Chamados</a> 
      </div>
      <div class="sidebar-content-option">
        <a class="link-small" routerLink="scripts"><i class="large material-icons">code</i> </a><a class="link-full" routerLink="scripts">Scripts</a>  
      </div>
      <div class="sidebar-content-option">
        <a class="link-small" routerLink=""><i class="large material-icons">print</i> </a><a class="link-full" routerLink="">Impressoras</a>   
      </div>
      <div class="sidebar-content-option">
        <a class="link-small" routerLink=""><i class="large material-icons">local_offer</i> </a><a class="link-full" routerLink="">Patrimonios</a>
      </div>
    </div>

    <div class="item-menu">
      <div class="sidebar-content">
        <p>FINANCEIRO</p>
      </div>
      <div class="sidebar-content-option">
        <a class="link-small" routerLink=""><i class="large material-icons">savings</i> </a><a class="link-full" routerLink="">Caixas</a>  
      </div>
    </div> 

    <div class="item-menu">
      <div class="sidebar-content">
        <p>COMERCIAL</p>
      </div>
      <div class="sidebar-content-option">
        <a class="link-small" routerLink=""><i class="large material-icons">person</i> </a><a class="link-full" routerLink="">Fidelidade</a>
      </div>
    </div>

    <div class="item-menu">
      <div class="sidebar-content">
        <p>RH</p>
      </div>
      <div class="sidebar-content-option">
        <a class="link-small" routerLink="nadaconsta"><i class="large material-icons">check_box</i> </a><a class="link-full" routerLink="nadaconsta">Nada Consta</a>
      </div>
    </div>

    <div class="item-menu">
      <div class="sidebar-content">
        <p>CADASTROS</p>
      </div>
      <div class="sidebar-content-option">
        <a class="link-small" routerLink="clientes"><i class="large material-icons">people_alt</i> </a><a class="link-full" routerLink="clientes">Clientes</a>
      </div>
      <div class="sidebar-content-option">
        <a class="link-small" routerLink=""><i class="large material-icons">engineering</i> </a><a class="link-full" routerLink="">Funcionarios</a>
      </div>
      <div class="sidebar-content-option">
        <a class="link-small" routerLink=""><i class="large material-icons">apartment</i> </a><a class="link-full" routerLink="">Empresa</a>
      </div>
    </div>

</div>
<main>
  <router-outlet></router-outlet>
</main>



