.tabela{
    width: 100%;
    margin: auto;
    padding: 10px;
    
  }
  table{
      width: 100%;
  }
  
  thead{
      border-bottom: solid 1px #c7c6c6;
      font-size: 20px;
  }
  
  #titulo{
      width: 40%;
      
  }
  
  #previa{
      width: 60%;
  }
  
  
  tr{
      border-bottom: solid 1px #dbd8d8;
      height: 60px;
  }
  
  td{
    max-width: 100px;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
   
  }
  
  
  
  
  
  @media screen and (max-width:425px) {
      table tr td:nth-child(2) {
          display: none;
      }
  
      #previa{
          display: none;
      }
  
      #titulo{
          width: 100%;
      }
  }