<H2>Nada Consta</H2>
<div class="container-title"> Listar </div>


<div class="tabela">
    <button routerLink="/cadastrarnd" type="button" class="btn btn-primary">Adicionar</button>
    <table>
        <thead>
            <tr>
                <th id="titulo">Funcionario</th>
                <th id="previa">Situação</th>
                <th id="action"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Joao Arthur</td>
                <td>Pendente
                </td>
                <td><Button  routerLink="/detalhes-script/1" style="margin-left: 3px;" type="button" class="btn-small btn-success"><i class="small material-icons">visibility</i></Button></td>
                <td><Button routerLink="/editar-script/1" style="margin-left: 3px;" type="button" class="btn-small  btn-primary"><i class="small material-icons">edit</i></Button></td>
                <td><Button style="margin-left: 3px;" type="button" class="btn-small  btn-danger"><i class="small material-icons">delete</i></Button></td>
            </tr>
            <tr>
                <td>Guilherme Boulos</td>
                <td>Encerrado</td>
                <td><Button style="margin-left: 3px;" type="button" class="btn-small  btn-success"><i class="small material-icons">visibility</i></Button></td>
                <td><Button style="margin-left: 3px;" type="button" class="btn-small  btn-primary"><i class="small material-icons">edit</i></Button></td>
                <td><Button style="margin-left: 3px;" type="button" class="btn-small  btn-danger"><i class="small material-icons">delete</i></Button></td>
                
            </tr>
            <tr>
                <td>Gregorio Matias da Silva Bento</td>
                <td class="descript">Encerrado</td>
                <td><Button style="margin-left: 3px;" type="button" class="btn-small  btn-success"><i class="small material-icons">visibility</i></Button></td>
                <td><Button style="margin-left: 3px;" type="button" class="btn-small  btn-primary"><i class="small material-icons">edit</i></Button></td>
                <td><Button style="margin-left: 3px;" type="button" class="btn-small  btn-danger"><i class="small material-icons">delete</i></Button></td>
            </tr>
        </tbody>
    </table>
</div>