.navbar{
    background-color: #363636 ;
    color: white;
    height: 10%;
}

.sidebar{
    background-color: #292929;
    color: white;
    height: 89%;
    width: 15%;
    position: absolute;
    padding: 1%;
    overflow: auto;
    
}

.item-menu{
   border-top: solid 1px #4e4e4e;
   margin-bottom: 25px;
}



.sidebar-content p{
    
    color: #4e4e4e;
    font-size: medium;
    font-weight: 600;    
}

.sidebar-content-option{
    display: flex;
    margin-top: 20px;
    font-size: small;
}

.sidebar-content-option a{
    text-decoration: none;
    color: #a2a2a2;
    margin-left: 2px;
    font-size: small;
}

.sidebar-content-option a:hover{
    text-decoration: none;
    color: white;
}

main{
    margin-left: 15.2%;
    width: auto;
    height: 85%;
    position: relative;
    padding: 10px;
}

.container-title{
    background-color: #a2a2a2;
    margin: auto;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    border: solid 1px white;
    border-radius: 10px;
    color:#4e4e4e;
    font-size: 20px;
    font-weight: 400;
}